* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f0f0f5;
  color: #333;
}

.menu{
  background-color: #1e1231;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 14px;
}

.boton{
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: bold;
}

.boton-melo{
  color: #f0f0f5;
  background: linear-gradient(to right, #8938f5, #5a86e6, #466ae0);
}

.banner1{
  display: flex;
  justify-content: space-between;
  background-color: #2a245d;
}

.texto1 h1{
  font-size: 80px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.texto1{
  padding: 150px;
  color: #f0f0f5;
  width: 50%;
}

.botones {
    gap: 10px;
    display: flex;
    border: 2px solid rgba(255, 255, 200, 0.3);
    width: 290px;
    border-radius: 8px;
    padding: 4px 5px;
}

.boton-d {
  background: #f0f0f5;
  color: #ff18d5;
  border: #f0f0f5;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: bold;
}

.boton-f {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  padding: 12px 25px;
  border-radius: 5px;
  font-weight: bold;
}

.texto1 p {
  margin-bottom: 30px;
  font-size: 16px;
  line-height: 1.5;
}


.imgt{
  background-image: url(../assets/imagenes/hojasFondo.jpg);
  background-size: cover;
  justify-content: center;
  display: flex;
  background-position: center;
  align-items: center;
  width: 800px;
}

.cel{
  height: 450px;
  width: auto;
  padding: 0px 180px 0px 0px;
}

.features {
  padding: 80px 10%;
}

.features h2 {
  text-align: center;
  margin-bottom: 50px;
  font-size: 80px;
  color: #ef24ca;
}

.feature-content {
  display: flex;
  justify-content: flex-end;
  align-items: right;
  gap: 80px;
}

.feature-content img {
  width: 40%;
}

.feature-text {
  width: 50%;
}

.feature-text h3 {
  font-size: 40px;
  margin-bottom: 20px;
  color: #d423b4;
}

.feature-text p {
  margin-bottom: 30px;
  line-height: 1.6;
}

.marketing-list h4 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #ef24ca;
}

.marketing-list ul {
  list-style-type: none;
}

.marketing-list li {
  margin-bottom: 10px;
  position: relative;
  padding-left: 25px;
}

.marketing-list li:before {
  content: "✓";
  color: #ef24ca;
  position: absolute;
  left: 0;
}

.pricing {
  padding: 40px 10%;
  background-color: #1e1231;
}

.pricing h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 50px;
  color: white;
}

.pricing-description {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 50px;
  line-height: 1.6;
  color: white;
}

.pricing-cards {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.pricing-card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  max-width: 300px;
  text-align: center;
}

.pricing-card .lelo {
  color: #ef24ca;
}

.pricing-card h3 {
  font-size: 20px;
  margin-bottom: 15px;
  color: #333;
  font-weight: 600;
}

.price {
  background-color: #f5f5f5;
  padding: 20px;
  font-size: 32px;
  color: #333;
  margin-bottom: 10px;
}

.price span {
  font-size: 16px;
  color: #888;
  margin-left: 10px;
}

.pricing-card img {
  width: 80px;
  margin-bottom: 15px;
}

.pricing-card ul {
  list-style-type: none;
  margin: 20px 30px;
}

.pricing-card ul li {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 15px;
  margin-bottom: 10px;
}

.icon-star::before,
.icon-check::before,
.icon-x::before {
  display: inline-block;
  width: 20px;
  margin-right: 8px;
  font-weight: bold;
}

.icon-star::before {
  content: "★";
}

.icon-check::before {
  content: "✔";
}

.icon-x::before {
  content: "✖";
}

/* Colores */
.pink::before {
  color: #ef24ca;
}

.c::before {
  color: #000000;
}

.e::before {
  color: #000000;
}

.pricing-card p {
  margin: 40px 0;
  text-align: center;
  padding: 0px 30px;
  line-height: 1.6;
  font-size: 14px;
}

.corrido {
  background-color: #f5f5f5;
  padding: 10px;
  border-radius: 10px;
  font-size: 32px;
  color: #333;
}

.boton-subscribe {
  background-color: #1e1231;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: bold;
  width: 60%;
  box-shadow: #000000;
}

.boton-subscribete {
  background-color: #ef24ca;
  color: white;
  border: none;
  padding: 15px 25px;
  border-radius: 5px;
  font-weight: bold;
  width: 60%;
  box-shadow: #000000;
}

footer {
  background-color: white;
  padding: 20px 10%;
  border-top: 1px solid #ddd;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

footer p {
  color: #333;
  margin: 0;
}

footer .autor {
  color: #ef24ca;
  font-weight: bold;
}

.social-icons {
  display: flex;
  opacity: 0.8;
  gap: 20px;
}

.social-icons img {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

@media (max-width: 1279px) {
  .cel {
    padding: 0px 100px 0px 0px;
  }

  .texto1 {
    padding: 130px;
  }

  .texto1 h1 {
    font-size: 70px;
  }

  .feature-content img {
    width: 400px;
    height: 300px;
  }
}


@media (max-width: 920px) {
  .texto1 {
    padding: 100px;
  }

  .texto1 h1 {
    font-size: 60px;
  }

  .boton-f {
    padding: 10px 10px;
  }

  .boton-d {
    padding: 10px 10px;
  }

  .botones {
    width: 230px;
  }

  .texto1 p {
    margin-bottom: 20px;
    padding: 10px 0px;
  }

  .price {
    padding: 0px;
  }

  .feature-content img {
    width: 60%;
    height: 300px;
  }
}


@media (max-width: 768px) {
  .cel {
    height: 300px;
    padding: 0px 30px 0px 0px;
  }

  .texto1 {
    padding: 30px;
  }

  .texto1 h1 {
    font-size: 50px;
  }

  .botones {
    width: 200px;
  }

  .boton-d {
    padding: 5px 5px;
  }

  .boton-f {
    padding: 5px 5px;
  }

  .features {
    padding: 80px 20px;
  }

  .feature-content {
    align-items: center;
    gap: 60px;
  }

  .feature-content img {
    width: 150px;
    height: 100px;
  }

  .features h2 {
    font-size: 50px;
  }

  .pricing-cards {
    flex-wrap: wrap;
  }

  .menu a {
    margin: 0 3px;
  }

  .boton {
    padding: 5px 5px;
  }

  footer p {
    font-size: 10px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .feature-text h3 {
    font-size: 30px;
  }
}


@media (max-width: 480px) {
  .texto1 h1 {
    font-size: 35px;
  }

  .cel {
    height: 250px;
  }

  .botones {
    width: 130px;
    flex-wrap: wrap;
  }

  .menu a {
    font-size: 10px;
  }

  .menu img {
    width: 100px;
    height: 50px;
  }

  .features h2 {
    font-size: 40px;
  }

  .features {
    padding: 80px 15px;
  }

  .feature-content {
    gap: 20px;
  }

  .social-icons {
    gap: 10px;
  }
  .social-icons img {
    width: 15px;
    height: 15px;
  }

  footer p {
    font-size: 8px;
  }
}
